<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.firstName.$valid && submitted,
                                            'has-error': form.firstName.$invalid && submitted }">


          <input type="text" name="name" class="form-control" ng-model="user.firstName"
                 required placeholder="FIRST NAME"/>
          <p class="help-block" ng-show="form.firstName.$error.required && submitted">
            Please enter your first name.
          </p>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.lastName.$valid && submitted,
                                            'has-error': form.lastName.$invalid && submitted }">


          <input type="text" name="name" class="form-control" ng-model="user.lastName"
                 required placeholder="LAST NAME"/>
          <p class="help-block" ng-show="form.lastName.$error.required && submitted">
            Please enter your last name.
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">


          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error
                 placeholder="EMAIL"/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">


          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error
                 placeholder="PASSWORD"/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.phone.$valid && submitted,
                                            'has-error': form.phone.$invalid && submitted }">


          <input type="number" name="phone" class="form-control" ng-model="user.phone"
                 required
                 mongoose-error
                 placeholder="PHONE xxx-xxx-xxxx"
                 />
          <p class="help-block" ng-show="form.phone.$error.phone && submitted">
            Doesn't look like a valid phone number
          </p>
          <p class="help-block" ng-show="form.phone.$error.required && submitted">
            What's your phone number
          </p>
          <p class="help-block" ng-show="form.phone.$error.mongoose">
            {{ errors.phone }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.city.$valid && submitted,
                                            'has-error': form.city.$invalid && submitted }">


          <input type="text" name="city" class="form-control" ng-model="user.city"
                 required
                 mongoose-error
                 placeholder="CITY"/>
          <p class="help-block" ng-show="form.city.$error.city && submitted">
            Doesn't look like a valid city
          </p>
          <p class="help-block" ng-show="form.city.$error.required && submitted">
            Where do you live?
          </p>
          <p class="help-block" ng-show="form.city.$error.mongoose">
            {{ errors.city }}
          </p>
        </div>


        <div>
          <button class="btn btn-inverse btn-sm btn-login" type="submit">
            Sign up
          </button>
          <a class="btn btn-default btn-sm btn-register" href="/login">
            Login
          </a>
        </div>

        <hr>
        <div>
          <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i>
          </a>
          <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div>
